::-webkit-scrollbar {
    display: none;
}

* {
    font-size: x-large;
}

body, html {
    margin: 0;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Courier New', Courier, monospace;
}

:root {
  --background: #282c34;
  --foreground: #abb2bf;
  --black: #282c34;
  --red: #e06c75;
  --green: #98c379;
  --yellow: #d19a66;
  --blue: #61afef;
  --magenta: #c678dd;
  --cyan: #56b6c2;
  --white: #abb2bf;
}

body {
    padding: 1em;
}

.prompt {
    float: left;
    margin-right: 5px;
	padding: 0 2px 0 2px;
	color: var(--blue);
}

.line {
    overflow: hidden;
    display: block;
}

input {
    width: 100%;
    background-color: var(--background);
	color: var(--red);
    border: none;
    outline: 0;
    caret-color: var(--green);
}

.left_side {
  color: var(--yellow);
}

.right_side {
  color: var(--magenta);
}

.row {
    display: flex;
    width: 80%;
  }

.left_side, .right_side {
    flex: 50%;
}

.green {
    color: var(--green);
}

.red {
    color: var(--red);
}

.text {
    letter-spacing: normal;
    font-size: x-large;
    font-family: monospace;
    padding-left: 3px;
}